## Lecture 98

In [1]:
a = 10

In [7]:
def my_func(n):
    a = 20
    c = a**n
    return c

In [8]:
my_func(2)

400

In [9]:
def my_func(n):
    c = a ** n
    return c

In [10]:
my_func(2)

100

In [11]:
def my_func(n):
    global a
    a = 20
    c = a ** n
    return c

In [12]:
my_func(2)

400

In [13]:
a

20

In [14]:
def my_func():
    global var
    var = '123'

In [15]:
my_func()

In [16]:
var

'123'

In [17]:
f = lambda n: print(a**n)

In [18]:
f(2)

400

In [19]:
for i in range(10):
    x = 2 * i

In [20]:
i

9